.bg-verm-ifood {
    background-color: #F7001A;
    color: #F6C000;
}

.bg-amar-ifood {
    background-color: #F6C000;
    color: #F7F7F7;
}

.text-verm-ifood {
    color: #F7001A;
}

.text-amar-ifood {
    color: #F6C000;
}




body {
    background-color: #F7F7F7;
    overflow-x: hidden;
    max-width: 95vw;
}





header {
    align-items: center;
    background-color: #F7001A;
    color: #F7F7F7;
    display: flex;
    height: 7vh;
    justify-content: space-between;
    line-height: 5vh;
    padding: 0 10px !important;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

header img {
    height: 7vh;
}

header #menu-icon {
    color: #F7F7F7;
    cursor: pointer;
    font-size: 5vh;
}





div.menu {
    /* background-color: #f70019be; */
    background-color: #ff3045;
    height: 93vh;
    padding: 0;
    position: fixed;
    z-index: 98;
}

div.menu a:link,
div.menu a:visited {
    display: block;
    color: #F7F7F7;
    padding: 8px 10px;
    padding-left: 25px;
    transition: 0.5s;
}

div.menu a:hover,
div.menu a:active {
    background-color: #F7001A;
    color: #F6C000;
    text-decoration: none;
}

div.menu i {
    text-align: center;
    width: 20px;
}

main.container {
    padding-top: 10px;
    padding-right: 30px;
}





.bloco {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #23238E;
    padding: 5px;
    text-align: center;
}

.grafico {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #23238E;
    padding: 5px;
    text-align: center;
}










@media screen and (min-width: 768px) {
    #menu {
        display: block;
    }

    main.container {
        margin-left: 16.7vw;
    }
}

@media screen and (max-width: 767px) {
    #menu {
        display: none;
        width: 110vw;
    }

    main.container {
        padding: 10px 30px;
    }
}